body {
    background-color: rgb(224, 231, 233);
}
.bx {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.42);
    background-color: rgb(24, 165, 230);
    
}
 .cardborder {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    
}
